* {
    background-color: rgb(238, 191, 230);
    font-family: 'La Belle Aurore', cursive;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

strong {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.paragraph-song {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pargraph-song-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px; 
}

#hobbies-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    background-color: rgb(211, 33, 113);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.head{
border-radius: 10px;
}

 /* #about-me {
    position: absolute;
    left: 500px;
    display: inline-block;
}
#PlacesILove {
    position: absolute;
    right: 300px;
    display: inline-block;
}

#contact-Me {
    position: absolute;
    right: 10px;
    display: inline-block;
} */

.Dark-css {
    background-color: black;
    color: white; 
}
 
#images {
    display: flex;
    justify-content: center; 
}

/* .image2 {
    border:2px solid pink;

} */
.image1 {
    border-radius: 20px;
    object-fit: cover;

}

/* .food-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
} */

#all-food-list {
    display: flex;
    justify-content: center;
}

/* 
.food2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
a:hover {
    color: aqua;
}
a:active {
    color: red;
}
.button {
    cursor: pointer;
    padding: 8px;
    background-color:rgb(44, 91, 144);
    color: white; 
    position: sticky;
    top: 20px;
}
.button:hover {
    background-color: blue; color: white; 
}
.center-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: rgb(249, 233, 227);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 50px;
    left: 0;
    right: 0;
   }

/* .footer-div {
    background-color: rgb(249, 233, 227);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */

.name {
    background-color: rgb(249, 233, 227);
    display: flex;
    flex-direction: row;
}

.date {
    background-color: rgb(249, 233, 227);
    display: flex;
    flex-direction: row;
    
}

   /* 
.date {
     position: absolute; 
     right: 10px; 
}  */
/* 
.images_description {
    display: flex;
    flex-wrap: nowrap
    flex-direction: center;
    align-items: center; 
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    justify-content: center;
    align-items:center;
} */

.all-images {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    margin-bottom: 130px
}

.madrid {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.eiffel {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.new-york {
    display: flex;
    flex-direction: column;
    border-radius: 30px;    
}
/* 
.img-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: space-between;
} */

